$border-md: 5px solid rgb(24, 24, 24);
$border-lg: 10px solid rgb(24, 24, 24);
$border-sm: 2px solid rgb(24, 24, 24);

%flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* -----SLOT MACHINE---------------------------------------------------------------------------------------------------------------------- */
/* BOX MACHINE */
/* JACKPOT */
/* JACKPOT ASSET */
/* SIGNATURE */
/* EARNING RATE PANEL */
/* DIAL ROLLS */
/* TOKEN INFO PANEL */
/* FLASHING TOKENS INFOS */
/* BUTTONS MACHINE PANEL */
/* BUTTONS MACHINE */

@font-face{font-family: 'sign2';src: url(font/Signature2.otf);}
@font-face{font-family: 'sign3';src: url(font/Signature3.ttf);}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg,gold,brown);
}
/* BOX MACHINE */
#boxMachine{
    @extend %flex-centered;
    flex-direction: column;
    height: 800px;
    width: 500px;
    margin: 20% auto;
    border: $border-lg;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: brown;
    color: white;
    animation: bord 1s linear infinite;
}
@keyframes bord{
    50%{border-color: yellow;}
}

/* JACKPOT */
#jackpot{
    @extend %flex-centered;
    height: 60px;
    width: 200px;
    margin: -50px auto;
    border: $border-md;
    border-radius: 10px;
    background-color: gold;
    font-size: 45px ;
    font-weight: bold;
    font-family: 'sign2';
    text-shadow: 3px 3px 3px brown;
}
/* JACKPOT ACTIF */
.lumjack{animation: jack 0.3s linear infinite;}
@keyframes jack{
    0%{color: white}
    50%{color:yellow}
    100%{color: red}
}
/* SIGNATURE */
#signature{
    margin-left: 350px;
    margin-bottom: 10px;
    font-family: 'sign3';
    font-size: 20px;
    line-height: 1px;
    text-shadow: 3px 3px 3px gold;
    transform: rotate(-20deg);
}
#signature p{
    margin-left: 25px;
}
/* EARNING RATE PANEL */
#panel{
    height: 170px;
    margin: 20px auto;
    border: $border-md;
    border-radius: 10px;
    background-color: gold;
}
/* DIAL ROLLS */
#displayRolls{
    @extend %flex-centered;
    height: 130px;
    background: rgb(32, 32, 32);
}

#displayRolls th{
    border: $border-lg;
    background-color: blue;
}

#rolls1,#rolls2,#rolls3{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 0 10px;
    font-size: 100px;
}
/* TOKEN INFO PANEL */
#displayTokenInfos{
    @extend %flex-centered;
    margin: 20px auto;
}
#displayTokenInfos th{
    height: 30px;
    width: 100px;
    background-color: gold;
    border: $border-md;
    border-radius: 10px;
    font-size: 30px;
}
/* FLASHING TOKENS INFOS */
.lumgains{animation: lum 0.2s linear infinite}
@keyframes lum{
    0%{color: red}
    100%{color: white}
}

/* BUTTONS MACHINE PANEL */
#boxButtonsMachine{
    @extend %flex-centered;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: $border-md;
    border-radius: 10px;
    background-color: gold;
}
/* BUTTONS MACHINE */
.buttonsMachine{
    height: 50px;
    margin: 0 5px;
    background-color: orangered;
    border: $border-sm;
    border-radius: 5px;
    font-size: 1rem;
    color: aliceblue;
    cursor: pointer;
}
.buttonsMachine:hover{
animation: lumButtons 0.3s linear infinite;
}
@keyframes lumButtons{
    0%{color: red}
    100%{color: white}
}

#max{
    font-size: 8px;
    margin-left: 77px;
    margin-top: -10px;
}