
#maingame{
    position:relative;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 90%;
    margin: auto auto;
    padding: 10px;
    background-color: black;
    border-style:solid;
    border-width: 10px;
    border-radius: 10%;
    border-color: gray;
    font-family: "imp";
    font-size: 20px;
    font-family: "sairas";
    color: green;
    cursor: none;
    overflow: hidden;
}

#aim{
    height: 100px;
    width: 100px;
    background-image: url(img/aim.png);
    pointer-events: none;
    cursor: none;
}

/* #test{
    height: 10px;
    width: 10px;
    margin-left: 400px;
    background-color: red;
}
#test:hover{
    background-color: green;
} */

#btc{
    margin-top: 200px;
    background-color: black;
    font-family: "sairai";
    font-size: 30px;
    border-radius: 30px;
    color: gainsboro;
    box-shadow: 3px 3px 3px gainsboro;
    cursor: none;
    transition: 0.5s;
}
#btc:hover{
    transition: 0.5s;
    color: gold;
    box-shadow: 3px 3px 3px gold;
}

.cible1{
    position: absolute;
    animation: tomb1 linear forwards;
    z-index: 0;
}
@keyframes tomb1 {
    0%{transform: translate(0%, -250%);}
    100%{transform: translate(0%, 900%);}
}

.cible2{
    position: absolute;
    animation: tomb2 linear forwards;
    z-index: 0;
}
@keyframes tomb2 {
    0%{transform: translate(1200%, 0%);}
    100%{transform: translate(-350%, 100%);}
}

.cible3{
    position: absolute;
    left: 700px;
    animation: boss 2s linear alternate infinite 1s;
    z-index: 0;
}
@keyframes boss{
    0%{transform: translate(0%, 0%);}
    20%{transform: translate(-5%, 5%);}
    40%{transform: translate(0%, 10%);}
    60%{transform: translate(5%, 5%);}
    80%{transform: translate(10%, 10%);}
    100%{transform: translate(5%, 5%);}
}

#aff{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 400px;
    margin: 30px auto;
    border-radius: 30px;
    background: black;
    font-family: 'sg';
    font-size: 25px;
    font-weight: bold;
    color: gainsboro;
    box-shadow: 3px 3px 3px gainsboro;
    z-index: 1;
}
#aff1{
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    font-size: 25px;
    line-height: 1px;
    color: gainsboro;
}
#aff2{
    height: 100px;
    width: 500px;
    margin-top: 100px;
    font-family: 'saira';
    line-height: 30px;
    color: gainsboro;   
}