/* HUD */
.hud{
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(24, 24, 24);
    border: 5px double brown;
    border-radius: 10px;
    transition: 1s;
    z-index: 1;
}
.displayHealth,.displayGold,.displayInventory,.principalItem1,.principalItem2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 5px;
    border: 1px solid brown;
    background-color: black;
}
/* HEALTH & GOLD*/
.displayHealth,.displayGold{
    width: 160px;
    font-size: 40px;
    color: whitesmoke;
}
.healthIcon,.goldIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.healthIcon{
    background-color: whitesmoke;
    border-radius: 30%;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.goldIcon{
    background-color: gold;
    border: 3px solid rgb(192, 163, 1);
    border-radius: 50%;
    box-shadow: 3px 3px 0px gold;
    color: rgb(192, 163, 1);
    font-size: 40px;
    transform: rotate(15deg);
}
/* INVENTORY */
.displayInventory{
    width: 200px;
    font-size: 50px;
}
.displayInventory table td{
    height: 30px;
    width: 60px;
    border: 1px solid brown;
}
/* PRINCIPALS ITEMS */
.principalItem1,.principalItem2{
    width: 80px;
}
/*CLASS LUM DISPLAY*/
.lumRed{animation: lumRed 0.2s linear infinite}
@keyframes lumRed{
    0%{color: red}
    100%{color: white}
}
.lumGreen{animation: lumGreen 0.2s linear infinite}
@keyframes lumGreen{
    0%{color: Green}
    100%{color: white}
}