/* ITEMS */
/* DRINK */
.goatsMilk, .mead, .pissofdragon{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 25px;
    width: 35px;
    padding: 2px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    color: beige;
    animation: insertItem 0.5s linear;
}
.bottleGoatsMilk, .bottleMead, .bottlePissofdragon{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 15px;
    width: 10px;
    margin: 1px;
    padding: 1px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 2px solid beige;
    line-height: 1.5;
    background-color: beige;
}
.bottleGoatsMilkContent, .bottleMeadContent, .bottlePissofdragonContent{
    position: absolute;
    height: 10px;
    width: 9px;
    border-bottom-left-radius: 38%;
    border-bottom-right-radius: 38%;
    background-color: white;
}
.bottleMeadContent{
    background-color:brown;
}
.bottlePissofdragonContent{
    background-color:darkgoldenrod;
}
/* KEY */
.key{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: 60px;
}
.stem{
    position: absolute;
    display: flex;
    justify-content: end;
    top: -5px;
    left: 15px;
    height: 5px;
    width: 30px;
    font-weight: bold;
    line-height: 12px;
    color: gainsboro;
    background-color: gainsboro;
    transform: rotate(-30deg);
}
.ring{
    position: absolute;
    pointer-events: none;
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 5px solid gainsboro;
    border-radius: 50%;
}
/* DAGGER */
.dagger{
    display: flex;
    justify-content: center;
    align-items: bottom;
    left: 30px;
    height: 50px;
    width: 5px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    margin: 50px;
    padding-top: 25px;
    font-size: 50px;
    font-weight: bold;
    color: brown;
    background-color: gainsboro;
    transform: rotate(40deg);
}
/* RINGJEWEL */
.jewel{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: 60px;
}
.preciousStone{
    position: absolute;
    display: flex;
    justify-content: end;
    top: -7px;
    left: 15px;
    height: 10px;
    width: 15px;
    background-color: crimson;
    transform: rotate(50deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom: 5px solid rgb(192, 163, 1);
}
.ringJewel1{
    position: absolute;
    pointer-events: none;
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 5px solid gold;
    border-radius: 50%;
    /* box-shadow: 2px 2px 0px rgb(192, 163, 1); */
}
.ringJewel2{
    position: absolute;
    top: -8px;
    left: -8px;
    pointer-events: none;
    height: 20px;
    width: 20px;
    margin: 5px;
    border: 5px solid rgb(192, 163, 1);
    border-radius: 50%;
    z-index: -1;
    /* box-shadow: 2px 2px 0px rgb(192, 163, 1); */
}

/* ANIMATION INSERT ITEM */
@keyframes insertItem {
    0%{transform: translate(0%,-100%);scale: 3;}
    100%{transform: translate(0%,0%);scale: 1;}
}